body {
    background-color: rgb(210, 201, 244);
    font-family: 'Nova Square';
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    max-width: 600px;
}

button {
    background-color: #534caf;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Nova Square';
 }

button:hover {
    background-color: #6845a0;
}

#mensagem {
    margin-top: 20px;
}

#gift {
    max-width: 200px;
}

#textao {
    background-color: #7571ad;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.223);
    color: white;
}

div#textao > img {
    max-width: 200px;
}

.background {
    max-width: 90%;
    text-align: center;
    max-height: 100%;
}